---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Abaut the project'>
    <h1>Abaut the project</h1>

    <p>the spacesX lanches prohject is a demo for the astro courese</p>
</Layout>
